{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="h-100">
        <div class="">
            <img src="/media/hero-img.jpg" alt="Pens" class="hero-img">
            <div class="index-box">
                <h1 class="title-index" id="exclusive-title">New exclusives once a month!</h3>
                <h3 class="title-index">Sign up <a href="" class="sign-up-button">here</a> to stay updated!</h4>
                <a href="" class="shop-now-button btn btn-lg rounded-0 py3">Shop Now</a>
            </div>
        </div>
    </div>

    <hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12 index-card">
                <div class="container-fluid ">
                    <img src="/media/all-products.jpg" alt="" class="card-img-top index-product-image">
                    <a href="" class="image-text">All Products</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="container-fluid index-card">
                    <img src="/media/pens.jpg" alt="" class="card-img-top index-product-image">
                    <a href="" class="image-text">Pens</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="container-fluid index-card">
                    <img src="/media/paper.jpg" alt="" class="card-img-top index-product-image">
                    <a href="" class="image-text">Paper</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="container-fluid index-card">
                    <img src="/media/school-supplies.jpg" alt="" class="card-img-top index-product-image">
                    <a href="" class="image-text">School Supplies</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}