{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="home-title my-4">Check out our new arrivals!</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-sm-12 index-card">
                <div class="container-fluid ">
                    <img src="/media/all-products.jpg" alt="" class="card-img-top index-product-image">
                    <a href="{% url 'products' %}" class="image-text">All Products</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="container-fluid index-card">
                    <img src="/media/pens.jpg" alt="" class="card-img-top index-product-image">
                    <a href="{% url 'products' %}?category=pens,pencil,markers" class="image-text">Pens</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="container-fluid index-card">
                    <img src="/media/paper.jpg" alt="" class="card-img-top index-product-image">
                    <a href="{% url 'products' %}?category=paper,notepad_journal,sketch_pad" class="image-text">Paper</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="container-fluid index-card">
                    <img src="/media/school-supplies.jpg" alt="" class="card-img-top index-product-image">
                    <a href="{% url 'products' %}?category=maths,art,accessories" class="image-text">School Supplies</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}