@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Splash&display=swap');

body {
    color: #ECECEC;
}

html {
    height: 100%;
}

hr {
    background-color: #000;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.logo-font {
    font-size: 50px;
    font-family: 'splash', sans-serif;
}

.text-black:hover {
    color: #9B1E1E !important;
}

.bg-black {
    background: #000 !important;
}

.navbar-nav {
    font-size: 20px;
    font-family: 'Edu QLD Beginner', sans-serif;
}

.hero-img {
    height: 500px;
    width: 100%;
    border: 2px solid black;
}

.header-container {
    padding-top: 8%
}


/* Media Queries */

@media (max-width: 992px) {
    .header-nav {
        display: none;
    }
}