@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Splash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

html {
    height: 100%;
}

.text-black {
    color: #000 !important;
}

.logo-font {
    font-size: 50px;
    font-family: 'splash', sans-serif;
}

.fd-banner {
    background-color: gold;
    color: #000;
    font-style: italic;
}

.text-black:hover {
    color: #9B1E1E !important;
}

.text-black-pd:hover {
    color: #9B1E1E !important;
    border: 1px solid #9B1E1E;
}

.ks-btn {
    background-color: cornflowerblue;
    font-size: 1.3rem;
}

.atb-btn {
    background-color: goldenrod;
    font-size: 1.3rem;
}

.co-btn {
    background-color: forestgreen;
    font-size: 1.3rem;
}

.checkout-buttons {
    font-size: 2rem;
}

.bg-black {
    background: #000 !important;
}

.navbar-nav {
    font-size: 20px;
    font-family: 'Edu QLD Beginner', sans-serif;
}

.hero-img {
    height: 600px;
    width: 100%;
    border: 1px solid lightgray;
}

.home-title {
    font-family: 'DynaPuff', sans-serif;
    text-align: center;
    background-color: #AEFF00;
}

.home-title2 {
    font-family: 'DynaPuff',
    sans-serif;
    text-align: center;
    background-color: mediumpurple;
}

.blog-header {
    font-family: 'DynaPuff',
        sans-serif;
    text-align: center;
    background-color: blueviolet;
}

.info-board {
    background-color: #9B1E1E;
}

.info-board-title {
    font-family: 'DynaPuff', sans-serif;
    color: white;
}

.feature-board {
    background-color: cadetblue;
    font-family: 'DynaPuff', sans-serif;
}

.feature-click {
    text-align: center
}

.feature-click a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

.shop-now-button {
    font-size: 25px;
}

.shop-now-button:hover {
    color: #9B1E1E;
}

.sign-up-button{
    color: black;
}

.sign-up-button:hover {
    color: #9B1E1E;
    text-decoration: none;
}

.index-product-image {
    padding: 1rem;
    object-fit: cover;
}

.index-card {
    padding: 10px;
    font-family: 'Edu QLD Beginner',
    sans-serif;
    font-size: 24px;
    text-align: center;
}

.index-card a {
    color: #000;
    font-weight: bold;
    font-family: 'DynaPuff';
    text-transform: uppercase;
    border: 1px solid #000;
    padding: 0.5rem;
}

.index-card a:hover {
    color: #9B1E1E;
}

.product-price {
    color: dodgerblue;
}

/* Index card colours */

#all-products {
    background-color: aqua;
}

#pens {
    background-color: deeppink;
}

#paper {
    background-color: lawngreen;
}

#school-supplies {
    background-color: coral;
}

/**/

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

.products-header, .bag-header {
    padding: 12px;
    font-family: 'DynaPuff', sans-serif;
    font-size: 2.5rem;
    background-color: crimson;
    margin: 0.8rem;
}

.featured-products {
    padding: 1rem;
    margin: 0.8rem;
}

.sb-image {
    height: 16rem;
}

.product-img {
    height: 200px;
    object-fit: cover;
}

.product-card {
    margin-bottom: 10px;
}

.product-price {
    font-size: 20px;
}

.product-title {
    font-family: 'DynaPuff', sans-serif;
}

.btt-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.edit-button {
    color: #28a745;
}

.edit-button:hover {
    background-color: #28a745;
    color: #fff;
}

.delete-button {
    color: #dc3545;
}

.delete-button:hover {
    background-color: #dc3545;
    color: #fff;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.pd-title {
    font-family: 'DynaPuff',
    sans-serif;
    text-align: center;
    background-color: aquamarine;
}

/* Footer CSS */
.site-footer {
    background-color: #F1F1F1;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: black;
}

.site-footer hr {
    border-top-color: #000;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
    text-decoration: underline;
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #9B1E1E;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #9B1E1E;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

.update-link, .remove-item {
    cursor: pointer;
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.twitter:hover {
    background-color: #00aced
}

.social-icons a.linkedin:hover {
    background-color: #007bb6
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89
}

/* Media Queries */



@media (max-width:992px) {
    .header-nav {
      
        display: none;
    }
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: 0.9rem;
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }

    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}
