<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a href="{% url 'home' %}" id="home-link" class="logo-font font-weight-bold nav-link text-black mr-5">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Pens
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=pens" class="dropdown-item">Pens</a>
                <a href="{% url 'products' %}?category=pencil" class="dropdown-item ">Pencils</a>
                <a href="{% url 'products' %}?category=markers" class="dropdown-item ">Markers</a>
                <a href="{% url 'products' %}?category=pens,pencil,markers" class="dropdown-item">All Pens</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Paper
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=paper" class="dropdown-item">Paper</a>
                <a href="{% url 'products' %}?category=notepad_journal" class="dropdown-item ">Notepads / Journals</a>
                <a href="{% url 'products' %}?category=sketch_pad" class="dropdown-item ">Sketch pads</a>
                <a href="{% url 'products' %}?category=paper,notepad_journal,sketch_pad" class="dropdown-item">All Paper</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                School Supplies
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=maths" class="dropdown-item">Maths</a>
                <a href="{% url 'products' %}?category=art" class="dropdown-item ">Art</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item ">Accessories</a>
                <a href="{% url 'products' %}?category=maths,art,accessories" class="dropdown-item">All School Supplies</a>
            </div>
        </li>
    </ul>
</div>